@import "react-toastify/dist/ReactToastify.css";
@import "css-reset.css";
@import "fonts.css";
@import "theme.css";

*, *:after, *:before {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    position: relative;
}